body{
background-color: #0B0F19;
}

html {
    scroll-behavior: smooth;
}

.Logo{
width: 200px;
height: 80px;
}

.Inicial{
display: flex;
align-items: center;
background-color: #0B0F19;


}


.FDP {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 28px;
}

.A{

    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color: #0A84FF;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .3s;
}
     

.A:hover{
    color: #66B2FF;
}

.btn-nav{
    background: #0A84FF;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
}

.btn-nav:hover{
    background: #2B96FF;
    color: white;
}






.fundo{
background-image: url(https://images6.alphacoders.com/131/1319754.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 85vh;
position: relative;
}

.TITULO{
width: 500px;
position: absolute;
top: 50%;
left: 7%;
}

.SUBTITULO{
position: absolute;
top: 60%;
left: 12%;
font-size: 30px;
color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 1px #0A1F44;
}



.botao{
display: inline-block;
padding: 15px 35px;
background-color: #007BFF;
color: white;
text-decoration: none;
font-size: 20px;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
border-radius: 10px;
transition: 0.3s;
position: absolute;
top: 70%;
left: 14%;
}

.botao:hover{
background-color: #0056b3;
transform: scale(1.05);
box-shadow: 
0 10px 25px rgba(0, 0, 0, 25),
0 0 20px rgba(140, 120, 255, .6);
}


.Projeto{
background-image: url(Fundo\ Blue\ Lock.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 95vh;
position: relative;
}

.Rokku{
 font-size: 20px;
 color: #006BFF;
 position: absolute;
left: 5%;
bottom: 87%;
  line-height: .9;
  letter-spacing: 3px;
  transform: rotate(-2deg);
}

.TITULO2{
 font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 95px;
  color: #FFFFFF;
  position: absolute;
  line-height: .9;
  letter-spacing: 3px;
  transform: rotate(-2deg);
  left: 5%;
  bottom: 60%;
}

.b1{
font-size: 115px;
color: #006BFF;
text-shadow:
0 0 100px #006BFF,
0 0 20px #006BFF;
}

.explicação{
color: #FFFFFF;
font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: normal;
font-size: 18px;
position: absolute;
  bottom: 59%;
    left: 3%;
}

.explicaçãoo{
color: #FFFFFF;
font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: normal;
font-size: 18px;
position: absolute;
  bottom: 52%;
    left: 3%;
}

.conhecer{
background-color: #0B0F19;
color: #FFFFFF;
text-decoration: none;
border: solid 1px #1977FF;
border-radius: 8px;
padding: 16px 40px;
 font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute;
    bottom: 45%;
    left: 14%;
}

.conhecer:hover{
background-color: #0056b3;
transform: scale(1.05);
box-shadow: 
0 10px 25px rgba(0, 0, 0, 25),
0 0 20px rgba(140, 120, 255, .6);
}

.Destaque{
position: absolute;
bottom: 28%;
left: 38%;
color: #FFFFFF;
font-size: 27px;
 font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing:3px;
}

.b2{
color: #006BFF;
}

.b3{
font-size: 20px;
}

.cards{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    min-height: 155vh;
}

.cartas{
    width: 200px;
    height: 180px;

    background: #0B1120;
    border: 2px solid #0E4BFF;
    border-radius: 15px;

    padding: 15px;
    text-align: center;

    transition: .3s;
    box-shadow: 0 0 15px rgba(0,110,255,.15);
    
}

.cartas:hover{
    transform: translateY(-6px);
    border-color: #2D8CFF;
    box-shadow: 0 0 20px rgba(0,110,255,.45);
}

.cartas img{
    width: 40px;
    margin-bottom: 8px;
     background-color: #006BFF;
    font-size: 38px;
    text-shadow: 0 0 30px #006BFF;
    border-radius: 10px;
}

.cartas img:hover{
background-color: #3A8DFF;
}

.cartas h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 38px;
    color: #006BFF;
    margin: 0;
}

.cartas h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    color: white;
    letter-spacing: 1px;
    margin: 5px 0;
}

.cartas p{
    margin-top: 8px;
    font-family: "Poppins", sans-serif;
    color: #D8D8D8;
    font-size: 13px;
    line-height: 1.4;
}


.Jogadores{
background-image: url(fundoAzul.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
position: relative;
display: flex;
justify-content: center;
align-items: center;
gap: 25px ;
}

.TITULO3{
font-family: "Bebas Neue", sans-serif;
font-weight: 100;
font-size: 65px;
color: #FFFFFF;
position: absolute;
bottom: 85%;
left: 36%;
 margin: 0;
font-weight: 800;
}

.TITULO3 strong{

    color: #006BFF;
    text-shadow:
    0 0 8px rgba(0, 107, 255, 0.7),
    0 0 18px rgba(0, 107, 255, 0.3);

}



.card-jogador{

            position: relative;

            width: 280px;
            height: 470px;

            padding: 15px;

            background: #070D16;

            border: 2px solid #006BFF;

            border-radius: 15px;

            display: flex;
            flex-direction: column;
            align-items: center;

            overflow: hidden;

            box-shadow:
                0 0 10px rgba(0, 107, 255, 0.20);

            transition: 0.3s ease;
        }

        .card-jogador:hover{

            transform: translateY(-8px);

            border-color: #2D8CFF;

            box-shadow:
                0 0 15px rgba(0, 107, 255, 0.5),
                0 0 35px rgba(0, 107, 255, 0.2);
        }

    .numero{
    position: absolute;

    top: 12px;
    left: 18px;

    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numero span{
    font-family: "Bebas Neue", sans-serif;

    font-size: 38px;

    color: #006BFF;

    line-height: 0.85;

    text-shadow: 0 0 10px rgba(0, 107, 255, 0.7);
}

.numero small{
    margin-top: 3px;

    font-family: "Bebas Neue", sans-serif;

    font-size: 9px;

    letter-spacing: 1px;

    color: #AAB4C3;

    line-height: 1;
}

        .foto-jogador{

          width: 240px;
    height: 250px;

    margin-top: 25px;

            overflow: hidden;

            border-radius: 45px 45px 25px 25px;

            background: #111827;
        }


        .foto-jogador img{

            width: 100%;
            height: 100%;

            object-fit: cover;

            display: block;

            transition: 0.4s ease;
        }

        .card-jogador:hover .foto-jogador img{

            transform: scale(1.05);
        }

        .card-jogador h2{
          margin-top: 10px;

          margin-bottom: 15px;

            font-family: "Bebas Neue", sans-serif;

            font-size: 30px;

            letter-spacing: 1px;

            color: #FFFFFF;

            text-align: center;
        }

        .informacoes{

            display: flex;
            
            height: 42px;

            border: 1px solid #006BFF;

            border-radius: 6px;

            overflow: hidden;        

            transition: 0.3s ease;
        }

        .posicaooo{

            width: 65px;
            

            display: flex;
            align-items: center;
            justify-content: center;
            background: #006BFF;

            color: white;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;
        }

        .rank{

            width: 105px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #080E1C;

            color: #FFFFFF;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;

            letter-spacing: 1px;
        }

        .card-jogador:hover .informacoes{

            box-shadow:
                 0 0 10px rgba(0, 184, 217, 0.35),
    0 0 25px rgba(0, 184, 217, 0.2);
        }

        .botao-perfil{

            width: 120px;
            height: 35px;

            margin-top: 12px;

            display: flex;

            align-items: center;
            justify-content: center;

            background: #006BFF;

            color: black;

            text-decoration: none;

            font-family: "Bebas Neue", sans-serif;

            font-size: 20px;

            letter-spacing: 0.5px;

            transition: 0.3s ease;
        }

        .botao-perfil:hover{

            background: #2D8CFF;

            transform: scale(1.05);

            box-shadow:
                0 0 15px #006BFF,
                0 0 30px rgba(0, 107, 255, 0.4);
        }

        .card-jogador1::before{

            content: "";

            position: absolute;

            width: 180px;
            height: 180px;

            background: #006BFF;

            opacity: 0.04;

            border-radius: 50%;

            top: 100px;
            right: -100px;

            filter: blur(20px);

            pointer-events: none;
        }

.card-jogador1{

            position: relative;

            width: 280px;
            height: 470px;

            padding: 15px;

            background: #17150A;

            border: 2px solid #FFD21F;

            border-radius: 15px;

            display: flex;
            flex-direction: column;
            align-items: center;

            overflow: hidden;

            box-shadow:
                0 0 10px rgba(0, 107, 255, 0.20);

            transition: 0.3s ease;
        }

        .card-jogador1:hover{

            transform: translateY(-8px);

            border-color: #FFB800;

            box-shadow:
                0 0 12px rgba(255, 210, 31, 0.5),
        0 0 30px rgba(255, 138, 0, 0.3);
        }

    .numero1{
    position: absolute;

    top: 12px;
    left: 18px;

    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numero1 span{
    font-family: "Bebas Neue", sans-serif;

    font-size: 38px;

    color: #AAB4C3;

    line-height: 0.85;

    text-shadow: 0 0 10px rgba(180, 164, 19, 0.7);
}

.numero1 small{
    margin-top: 3px;

    font-family: "Bebas Neue", sans-serif;

    font-size: 9px;

    letter-spacing: 1px;

    color: #AAB4C3;

    line-height: 1;
}

        .foto-jogador1{

          width: 240px;
    height: 250px;

    margin-top: 25px;

            overflow: hidden;

            border-radius: 45px 45px 25px 25px;

            background: #111827;
        }


        .foto-jogador1 img{

            width: 100%;
            height: 100%;

            object-fit: cover;

            display: block;

            transition: 0.4s ease;
        }

        .card-jogador1:hover .foto-jogador1 img{

            transform: scale(1.05);
        }

        .card-jogador1 h2{
          margin-top: 10px;

          margin-bottom: 15px;

            font-family: "Bebas Neue", sans-serif;

            font-size: 30px;

            letter-spacing: 1px;

            color: #FFFFFF;

            text-align: center;
        }

        .informacoes1{

            display: flex;

            height: 42px;

            border: 1px solid  #FFB800;

            border-radius: 6px;

            overflow: hidden;

          

            transition: 0.3s ease;
        }

        .posicao1{

            width: 65px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #FFD21F;

            color: white;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;
        }

        .rank1{

            width: 105px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #080E1C;

            color: #FFFFFF;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;

            letter-spacing: 1px;
        }

        .card-jogador1:hover .informacoes1{

            box-shadow:
                0 0 12px rgba(255, 210, 31, 0.5),
                0 0 30px rgba(255, 138, 0, 0.3);
        }

        .botao-perfil1{

            width: 120px;
            height: 35px;

            margin-top: 12px;

            display: flex;

            align-items: center;
            justify-content: center;

            background: #cfa808;

            color: black;

            text-decoration: none;

            font-family: "Bebas Neue", sans-serif;

            font-size: 20px;

            letter-spacing: 0.5px;

            transition: 0.3s ease;
        }

        .botao-perfil1:hover{

            background: #D0AE60;

            transform: scale(1.05);

            box-shadow:
               0 0 12px rgba(255, 210, 31, 0.5),
                0 0 30px rgba(255, 138, 0, 0.3);
        }

        
        .card-jogador2::before{

            content: "";

            position: absolute;

            width: 180px;
            height: 180px;

            background: #0B1120;

            opacity: 0.04;

            border-radius: 50%;

            top: 100px;
            right: -100px;

            filter: blur(20px);

            pointer-events: none;
        }


.card-jogador2{

            position: relative;

            width: 280px;
            height: 470px;

            padding: 15px;

            background: #101D32;

            border: 2px solid #FFFFFF;

            border-radius: 15px;

            display: flex;
            flex-direction: column;
            align-items: center;

            overflow: hidden;

            box-shadow:
                0 0 10px rgba(0, 107, 255, 0.20);

            transition: 0.3s ease;
        }

        .card-jogador2:hover{

            transform: translateY(-8px);

            border-color: #8FDBFF;

            box-shadow:
              0 0 8px #00CFFF,
        0 0 20px rgba(143, 219, 255, 0.5);
        }

    .numero2{
    position: absolute;

    top: 12px;
    left: 18px;

    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numero2 span{
    font-family: "Bebas Neue", sans-serif;

    font-size: 38px;

    color: #A9BBCD;

    line-height: 0.85;

    text-shadow:       0 0 8px #00CFFF,
        0 0 20px rgba(143, 219, 255, 0.5);
}

.numero2 small{
    margin-top: 3px;

    font-family: "Bebas Neue", sans-serif;

    font-size: 9px;

    letter-spacing: 1px;

    color: #A9BBCD;

    line-height: 1;
}

        .foto-jogador2{

          width: 240px;
    height: 250px;

    margin-top: 25px;

            overflow: hidden;

            border-radius: 45px 45px 25px 25px;

            background: #111827;

            transition: 0.4s ease;
        }


        .foto-jogador2 img{

            width: 100%;
            height: 100%;

            object-fit: cover;

            display: block;

            transition: 0.4s ease;
        }

        .card-jogador2:hover .foto-jogador2 img{

            transform: scale(1.07);
             transition: 0.4s ease;
        }

        .card-jogador2 h2{
          margin-top: 10px;

          margin-bottom: 15px;

            font-family: "Bebas Neue", sans-serif;

            font-size: 30px;

            letter-spacing: 1px;

            color: #FFFFFF;

            text-align: center;
        }

        .informacoes2{

            display: flex;

            height: 42px;

            border: 1px solid  #8FDBFF;

            border-radius: 6px;

            overflow: hidden;

          

            transition: 0.3s ease;
        }

        .posicao2{

            width: 65px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #00CFFF;

            color: black;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;
        }

        .rank2{

            width: 105px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #080E1C;

            color: #FFFFFF;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;

            letter-spacing: 1px;
        }

        .card-jogador2:hover .informacoes2{

            box-shadow:
            0 0 10px rgba(184, 241, 255, 0.8),
        0 0 25px rgba(0, 207, 255, 0.35);
          box-shadow:
         0 0 8px #00CFFF;
        }

        .botao-perfil2{

            width: 120px;
            height: 35px;

            margin-top: 12px;

            display: flex;

            align-items: center;
            justify-content: center;

            background: #00CFFF;

            color: black;

            text-decoration: none;

            font-family: "Bebas Neue", sans-serif;

            font-size: 20px;

            letter-spacing: 0.5px;

            transition: 0.3s ease;
        }

        .botao-perfil2:hover{

            background: #8FDBFF;

            transform: scale(1.05);

            box-shadow:
          0 0 10px rgba(184, 241, 255, 0.8),
        0 0 25px rgba(0, 207, 255, 0.35);
               
        }


 .card-jogador3::before{

            content: "";

            position: absolute;

            width: 180px;
            height: 180px;

            background: #E91E63;

            opacity: 0.04;

            border-radius: 50%;

            top: 100px;
            right: -100px;

            filter: blur(20px);

            pointer-events: none;
        }


.card-jogador3{

            position: relative;

            width: 280px;
            height: 470px;

            padding: 15px;

            background: #241322;

            border: 2px solid #FF78A8;

            border-radius: 15px;

            display: flex;
            flex-direction: column;
            align-items: center;

            overflow: hidden;

            box-shadow:
                0 0 10px rgba(255, 61, 129, 0.25);

            transition: 0.3s ease;
        }

        .card-jogador3:hover{

            transform: translateY(-8px);

            border-color: #FF78A8;

            box-shadow:
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 61, 129, 0.6),
        0 0 40px rgba(233, 30, 99, 0.3);
        }

    .numero3{
    position: absolute;

    top: 12px;
    left: 18px;

    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numero3 span{
    font-family: "Bebas Neue", sans-serif;

    font-size: 38px;

    color: #C9AAB8;

    line-height: 0.85;

    text-shadow: 0 0 10px rgba(255, 61, 129, 0.25);
}

.numero3 small{
    margin-top: 3px;

    font-family: "Bebas Neue", sans-serif;

    font-size: 9px;

    letter-spacing: 1px;

    color: #A9BBCD;

    line-height: 1;
}

        .foto-jogador3{

          width: 240px;
    height: 250px;

    margin-top: 25px;

            overflow: hidden;

            border-radius: 45px 45px 25px 25px;

            background: #111827;
        }


        .foto-jogador3 img{

            width: 100%;
            height: 100%;

            object-fit: cover;

            display: block;

            transition: 0.4s ease;
        }

        .card-jogador3:hover .foto-jogador3 img{

            transform: scale(1.05);
        }

        .card-jogador3 h2{
          margin-top: 10px;

          margin-bottom: 15px;

            font-family: "Bebas Neue", sans-serif;

            font-size: 30px;

            letter-spacing: 1px;

            color: #FFFFFF;

            text-align: center;
        }

        .informacoes3{

            display: flex;

            height: 42px;

            border: 1px solid  #FF3D81;

            border-radius: 6px;

            overflow: hidden;


            transition: 0.3s ease;
        }

        .posicao3{

            width: 65px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #FF3D81;

            color: white;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;
        }

        .rank3{

            width: 105px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #080E1C;

            color: #FFFFFF;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;

            letter-spacing: 1px;
        }

        .card-jogador3:hover .informacoes3{

            box-shadow:
          0 0 40px rgba(233, 30, 99, 0.3);
        }

        .botao-perfil3{

            width: 120px;
            height: 35px;

            margin-top: 12px;

            display: flex;

            align-items: center;
            justify-content: center;

            background: #FF3D81;

            color: black;

            text-decoration: none;

            font-family: "Bebas Neue", sans-serif;

            font-size: 20px;

            letter-spacing: 0.5px;

            transition: 0.3s ease;
        }

        .botao-perfil3:hover{

            background: #E91E63;

            transform: scale(1.05);

            box-shadow:
            0 0 10px rgba(255, 255, 255, 0.8),
        0 0 25px rgba(255, 61, 129, 0.6),
        0 0 40px rgba(233, 30, 99, 0.3);
               
        }

        .card-jogador4::before{

            content: "";

            position: absolute;

            width: 180px;
            height: 180px;

            background: #0B1120;

            opacity: 0.04;

            border-radius: 50%;

            top: 100px;
            right: -100px;

            filter: blur(20px);

            pointer-events: none;
        }



.card-jogador4::before{

            content: "";

            position: absolute;

            width: 180px;
            height: 180px;

            background: #E91E63;

            opacity: 0.04;

            border-radius: 50%;

            top: 100px;
            right: -100px;

            filter: blur(20px);

            pointer-events: none;
        }


.card-jogador4{

            position: relative;

            width: 280px;
            height: 470px;

            padding: 15px;

            background: #0B201C;

            border: 2px solid #FFFFFF;

            border-radius: 15px;

            display: flex;
            flex-direction: column;
            align-items: center;

            overflow: hidden;

            box-shadow:
                 0 0 10px rgba(0, 191, 166, 0.4),
    0 0 25px rgba(0, 245, 212, 0.25);

            transition: 0.3s ease;
        }

        .card-jogador4:hover{

            transform: translateY(-8px);

            border-color: #FFFFFF;

            box-shadow:
          0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(0, 245, 212, 0.7),
        0 0 40px rgba(0, 191, 166, 0.45);
        }

    .numero4{
    position: absolute;

    top: 12px;
    left: 18px;

    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numero4 span{
    font-family: "Bebas Neue", sans-serif;

    font-size: 38px;

    color: #A7C4BE;

    line-height: 0.85;

    text-shadow: 0 0 10px rgba(0, 191, 166, 0.4),;
}

.numero4 small{
    margin-top: 3px;

    font-family: "Bebas Neue", sans-serif;

    font-size: 9px;

    letter-spacing: 1px;

    color: #A9BBCD;

    line-height: 1;
}

        .foto-jogador4{

          width: 240px;
    height: 250px;

    margin-top: 25px;

            overflow: hidden;

            border-radius: 45px 45px 25px 25px;

            background: #111827;
        }


        .foto-jogador4 img{

            width: 100%;
            height: 100%;

            object-fit: cover;

            display: block;
             transform: scale(1.05);
            transition: 0.4s ease;
        }

        .card-jogador4:hover .foto-jogador4 img{

             transform: scale(1.07);
             transition: 0.4s ease;
        }

        .card-jogador4 h2{
          margin-top: 10px;

          margin-bottom: 15px;

            font-family: "Bebas Neue", sans-serif;

            font-size: 30px;

            letter-spacing: 1px;

            color: #FFFFFF;

            text-align: center;
        }

        .informacoes4{

            display: flex;

            height: 42px;

            border: 1px solid  #0B201C;

            border-radius: 6px;

            overflow: hidden;


            transition: 0.3s ease;
        }

        .posicao4{

            width: 65px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #008F83;
            
            color: white;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;
        }

        .rank4{

            width: 105px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #080E1C;

            color: #FFFFFF;

            font-family: "Bebas Neue", sans-serif;

            font-size: 23px;

            letter-spacing: 1px;

            border: 1px solid  #008F83;
        }

        .card-jogador4:hover .informacoes4{

            box-shadow:
        0 0 40px rgba(0, 191, 166, 0.45);
        }

        .botao-perfil4{

            width: 120px;
            height: 35px;

            margin-top: 12px;

            display: flex;

            align-items: center;
            justify-content: center;

            background: #008F83; 

            color: black;

            text-decoration: none;

            font-family: "Bebas Neue", sans-serif;

            font-size: 20px;

            letter-spacing: 0.5px;

            transition: 0.3s ease;
        }

        .botao-perfil4:hover{
                  background: #FFFFFF;

            transform: scale(1.05);
            
        box-shadow:
        0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(0, 245, 212, 0.7),
        0 0 40px rgba(0, 191, 166, 0.45);
        }

      
.ver-jogadores{
text-decoration: none;
color: #FFFFFF;
background-color:#006BFF;
width: 290px;
position: absolute;
top: 85%;
right: 40%;
background-color: #0B0F19;
color: #FFFFFF;
text-decoration: none;
border: solid 1px #1977FF;
border-radius: 8px;
padding: 16px 40px;
font-family: "Bebas Neue", sans-serif;
font-style:oblique;
font-size: 30px;
}

.ver-jogadores:hover{
background-color: #0056b3;
transform: scale(1.05);
box-shadow: 
0 10px 25px rgba(0, 0, 0, 25),
0 0 20px rgba(140, 120, 255, .6);
}

.New-Gens{
background-image: url(fundo\ New\ gens.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 120vh;
position: relative;
gap: 25px ;
display: flex;
flex-direction: column;
}



.newgens-hud{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:90px 0 70px;
}

.titulo-newgens{
    position:relative;
    width:470px;
    padding:20px 35px 30px;
    text-align:center;
}

.titulo-newgens h2{
    font-family:"Bebas Neue", sans-serif;
    font-size:80px;
    color:white;
    letter-spacing:5px;
    margin:0;
    
}

.titulo-newgens p{
    color:#1697ff;
    font-size:12px;
    letter-spacing:6px;
    margin-top:8px;
}

.tag{
    position:absolute;
    top:-12px;
    left:25px;
    background:#0b9cff;
    padding:5px 14px;
    color:white;
    font-size:14px;
    font-family:"Bebas Neue", sans-serif;
}

.titulo-newgens::before,
.titulo-newgens::after{
    content:"";
    position:absolute;
    inset:0;
    border:2px solid #0b9cff;
}

.titulo-newgens::before{
    clip-path:polygon(8% 0,100% 0,100% 82%,92% 100%,0 100%,0 18%);
    box-shadow:0 0 12px #0b9cff;
}

.titulo-newgens::after{
    border:none;
    height:2px;
    width:100%;
    background:linear-gradient(90deg,#0b9cff,transparent);
    bottom:-12px;
    top:auto;
}

.titulo-newgens .scan-line{
    display:none;
}

.newgens-hud::after{
    content:"";
    position:absolute;
    left:50%;
    top:100%;
    width:2px;
    height:55px;
    background:linear-gradient(#26b5ff,transparent);
    box-shadow:0 0 8px #26b5ff;
}

.hud-left,
.hud-right{
    position:absolute;
    top:0;
    width:90px;
    height:340px;
    color:#1498ff;
}

.hud-left{ left:20px; }
.hud-right{ right:20px; }

.hud-left span,
.hud-right span{
    font-size:52px;
    font-family:"Bebas Neue", sans-serif;
}

.hud-left p,
.hud-right p{
    writing-mode:vertical-rl;
    text-orientation:mixed;
    font-size:18px;
    letter-spacing:5px;
    margin:18px auto;
}

.hud-left small,
.hud-right small{
    display:block;
    margin-top:20px;
    font-size:14px;
    letter-spacing:3px;
}

.hud-bar{
    position:relative;
    width:2px;
    height:170px;
    margin:20px auto;
    background:rgba(20,152,255,.25);
    overflow:hidden;
}

.hud-bar::before{
    content:"";
    position:absolute;
    width:100%;
    height:30px;
    background:#26b5ff;
    box-shadow:0 0 15px #26b5ff;
    animation:hudMove 2.8s linear infinite;
}

.hud-bar::after{
    content:"";
    position:absolute;
    inset:0;
    background:repeating-linear-gradient(
        to bottom,
        transparent 0 8px,
        rgba(38,181,255,.35) 8px 10px
    );
}

@keyframes hudMove{

    0%{
        transform:translateY(-35px);
        opacity:0;
    }

    20%{
        opacity:1;
    }

    80%{
        opacity:1;
    }

    100%{
        transform:translateY(170px);
        opacity:0;
    }

}

 



.card-kaiser {
    position: relative;
    width: 280px;
    height: 305px;

    background: #0047AB;
    border-radius: 8px;

    overflow: hidden;
    transform: skewY(-2deg);
    position: absolute;
    left: 20%;
    bottom: 44%;
    transition: .3s;
}


.personagem-kaiser {
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: center top;
    left: -7.5%;
}

.card-kaiser::after {
    content: "";

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            to bottom,
            transparent 25%,
            rgba(9, 11, 19, 0.25) 40%,
            rgba(9, 11, 19, 0.85) 65%,
            #090B13 78%
        );

    z-index: 2;

    pointer-events: none;
}

.macionalidade{
color: #FFFFFF;
display: flex;
}

.card-kaiser:hover {
    transform: skewY(-2deg) translateY(-8px);

    border-color: #006BFF;

    box-shadow:
       0 0 8px #006BFF,
    0 0 20px rgba(0, 107, 255, 0.7),
    0 0 45px rgba(0, 140, 255, 0.4);

    
.card-kaiser:hover .personagem-kaiser {
    transform: scale(1.05);
}
}


.info4 {
    position: absolute;

    left: 15px;
    right: 15px;
    bottom: 65px;

    z-index: 3;
}

.info4 div {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-bottom: 12px;

    font-size: 10px;
}

.info4 span {
    color: #FFFFFF;

    font-weight: bold;
}

.info4 b {
    padding: 5px 8px;
    color: #FFFFFF;
    border: 1px solid ;
    
    font-size: 10px;
}

.info4 p {
    color: #FFFFFF;
}


.butão-kaiser {
    position: absolute;

    bottom: 12px;
    left: 12px;
    right: 12px;

    height: 38px;

    background: transparent;

    border: 1px solid ;

    color: #B8860B;

    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;

    cursor: pointer;

    z-index: 3;

    transition: 0.3s ease;
}

.butão-kaiser:hover {
    background: #4169E1;

    color: #090B13;

    box-shadow:
    0 0 8px #006BFF,
    0 0 20px rgba(0, 107, 255, 0.7),
    0 0 45px rgba(0, 140, 255, 0.4);

    transform: translateY(-2px);
}


.card-sae {
    position: relative;
    width: 280px;
    height: 305px;

    background: #240B18;
    border: 2px solid;
    border-radius: 8px;

    overflow: hidden;
    transform: skewY(-2deg);
    position: absolute;
    left: 20%;
    bottom: 8%;
    transition: .3s;
}


.personagem-sae {
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: center top;
    left: -7.5%;
}

.card-sae::after {
    content: "";

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            to bottom,
            transparent 25%,
            rgba(9, 11, 19, 0.25) 40%,
            rgba(9, 11, 19, 0.85) 65%,
            #090B13 78%
        );

    z-index: 2;

    pointer-events: none;
}

.card-sae:hover {
    transform: skewY(-2deg) translateY(-8px);

    border-color: #FF4FA3;

    box-shadow:
    0 0 8px #FF4FA3,
    0 0 20px rgba(255, 79, 163, 0.7),
    0 0 45px rgba(230, 0, 115, 0.4);

    
.card-sae:hover .personagem-sae {
    transform: scale(1.05);
}
}


.info5 {
    position: absolute;

    left: 15px;
    right: 15px;
    bottom: 65px;

    z-index: 3;
}

.info5 div {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-bottom: 12px;

    font-size: 10px;
}

.info5 span {
    color: #FFFFFF;

    font-weight: bold;
}

.info5 b {
    padding: 5px 8px;
    color: #FFFFFF;
    border: 1px solid ;
    
    font-size: 10px;
}

.info5 p {
    color: #FFFFFF;
}


.butão-sae {
    position: absolute;

    bottom: 12px;
    left: 12px;
    right: 12px;

    height: 38px;

    background: transparent;

    border: 1px solid ;

    color: #FF4FA3;

    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;

    cursor: pointer;

    z-index: 3;

    transition: 0.3s ease;
}

.butão-sae:hover {
    background: #FFC1DC;

    color: #090B13;

    box-shadow:
      0 0 8px #FF4FA3,
    0 0 20px rgba(255, 79, 163, 0.7),
    0 0 45px rgba(230, 0, 115, 0.4);

    transform: translateY(-2px);
}





.card-lorenzo {
    position: relative;
    width: 280px;
    height: 430x;

    background: #090b13;
    border: 2px solid;
    border-radius: 8px;

    overflow: hidden;
    transform: skewY(-2deg);
    position: absolute;
    left: 40%;
    bottom: 44%;
    transition: .3s;
}

.personagem-lorenzo {
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: center top;
    left: -7.5%;
}

.card-lorenzo::after {
    content: "";

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            to bottom,
            transparent 25%,
            rgba(9, 11, 19, 0.25) 40%,
            rgba(9, 11, 19, 0.85) 65%,
            #090B13 78%
        );

    z-index: 2;

    pointer-events: none;
}

.card-lorenzo:hover {
    transform: skewY(-2deg) translateY(-8px);

    border-color: #C8FF66;

    box-shadow:
        0 0 12px rgba(157, 255, 0, 0.7),
        0 0 30px rgba(157, 255, 0, 0.35),
        0 0 55px rgba(157, 255, 0, 0.15);
}

.card-lorenzo:hover .personagem-lorenzo {
    transform: scale(1.05);
}

.info {
    position: absolute;

    left: 15px;
    right: 15px;
    bottom: 65px;

    z-index: 3;
}

.info div {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-bottom: 12px;

    font-size: 10px;
}

.info span {
    color: #aaa;

    font-weight: bold;
}

.info b {
    padding: 5px 8px;
    color: #FFFFFF;
    border: 1px solid currentColor;
    
    font-size: 10px;
}

.info p {
    color: #FFFFFF;
}


.butão-lorenzo {
    position: absolute;

    bottom: 12px;
    left: 12px;
    right: 12px;

    height: 38px;

    background: transparent;

    border: 1px solid ;

    color: #395211;

    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;

    cursor: pointer;

    z-index: 3;

    transition: 0.3s ease;
}

.butão-lorenzo:hover {
    background: #9DFF00;

    color: #090B13;

    box-shadow:
        0 0 12px rgba(157, 255, 0, 0.6),
        0 0 25px rgba(157, 255, 0, 0.25);

    transform: translateY(-2px);
}



.card-hugo {
    position: relative;
    width: 280px;
    height: 328px;

    background: #090b13;
    border: 2px solid;
    border-radius: 8px;

    overflow: hidden;
    transform: skewY(-2deg);
    position: absolute;
    left: 60%;
    bottom: 44%;
    transition: .3s;
}


.personagem-hugo {
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: center top;
    left: -7.5%;
}

.card-hugo::after {
    content: "";

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            to bottom,
            transparent 25%,
            rgba(9, 11, 19, 0.25) 40%,
            rgba(9, 11, 19, 0.85) 65%,
            #090B13 78%
        );

    z-index: 2;

    pointer-events: none;
}

.card-hugo:hover {
    transform: skewY(-2deg) translateY(-8px);

    border-color: #2A1638;

    box-shadow:   0 0 10px rgba(142, 60, 199, 0.5),
            0 0 25px rgba(217, 70, 168, 0.25);

.card-hugo:hover .personagem-hugo {
    transform: scale(1.05);
}
}



.numero{
color: #FFFFFF;

}

.info1 {
    position: absolute;

    left: 15px;
    right: 15px;
    bottom: 65px;

    z-index: 3;
}

.info1 div {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-bottom: 12px;

    font-size: 10px;
}

.info1 span {
    color: #FFFFFF;

    font-weight: bold;
}

.info1 b {
    padding: 5px 8px;
    color: #FFFFFF;
    border: 1px solid currentColor;
    
    font-size: 10px;
}

.info1 p {
    color: #FFFFFF;
}


.butão-hugo {
    position: absolute;

    bottom: 12px;
    left: 12px;
    right: 12px;

    height: 38px;

    background: transparent;

    border: 1px solid ;

    color: #4B1F68;

    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;

    cursor: pointer;

    z-index: 3;

    transition: 0.3s ease;
}

.butão-hugo:hover {
    background: #8E3CC7;

    color: #090B13;

    box-shadow:
    
            0 0 20px rgba(142, 60, 199, 0.6),
            0 0 40px rgba(217, 70, 168, 0.3);

    transform: translateY(-2px);
}





.card-loki {
    position: relative;
    width: 280px;
    height: 320px;

    background: #090b13;
    border: 2px solid;
    border-radius: 8px;

    overflow: hidden;
    transform: skewY(-2deg);
    position: absolute;
    left: 40%;
    bottom: 8%;
    transition: .3s;
}


.personagem-loki {
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: center top;
    left: -7.5%;
}

.card-loki::after {
    content: "";

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            to bottom,
            transparent 25%,
            rgba(9, 11, 19, 0.25) 40%,
            rgba(9, 11, 19, 0.85) 65%,
            #090B13 78%
        );

    z-index: 2;

    pointer-events: none;
}

.card-loki:hover {
    transform: skewY(-2deg) translateY(-8px);

    border-color: #163A63;

    box-shadow:    0 0 8px rgba(0, 207, 255, 0.7),
    0 0 20px rgba(23, 105, 255, 0.45),
    0 0 40px rgba(0, 207, 255, 0.2);

    
.card-loki:hover .personagem-loki {
    transform: scale(1.05);
}
}


.info2 {
    position: absolute;

    left: 15px;
    right: 15px;
    bottom: 65px;

    z-index: 3;
}

.info2 div {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-bottom: 12px;

    font-size: 10px;
}

.info2 span {
    color: #FFFFFF;

    font-weight: bold;
}

.info2 b {
    padding: 5px 8px;
    color: #FFFFFF;
    border: 1px solid currentColor;
    
    font-size: 10px;
}

.info2 p {
    color: #FFFFFF;
}


.butão-loki {
    position: absolute;

    bottom: 12px;
    left: 12px;
    right: 12px;

    height: 38px;

    background: transparent;

    border: 1px solid ;

    color: #65D9FF;

    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;

    cursor: pointer;

    z-index: 3;

    transition: 0.3s ease;
}

.butão-loki:hover {
    background: #163A63;

    color: #090B13;

    box-shadow:
    
     0 4px 15px rgba(23, 105, 255, 0.18);

    transform: translateY(-2px);
}




.card-bunny {
    position: relative;
    width: 280px;
    height: 320px;

    background: #3A1622;
    border: 2px solid;
    border-radius: 8px;

    overflow: hidden;
    transform: skewY(-2deg);
    position: absolute;
    left: 60%;
    bottom: 8%;
    transition: .3s;
}


.personagem-bunny {
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: center top;
    left: -7.5%;
}

.card-bunny::after {
    content: "";

    position: absolute;

    inset: 0;

    background:
        linear-gradient(
            to bottom,
            transparent 25%,
            rgba(9, 11, 19, 0.25) 40%,
            rgba(9, 11, 19, 0.85) 65%,
            #090B13 78%
        );

    z-index: 2;

    pointer-events: none;
}

.card-bunny:hover {
    transform: skewY(-2deg) translateY(-8px);

    border-color: #3A1622;

    box-shadow:       0 0 8px rgba(255, 79, 154, 0.6),
    0 0 20px rgba(229, 43, 63, 0.4),
    0 0 40px rgba(185, 31, 53, 0.2);

    
.card-loki:hover .personagem-loki {
    transform: scale(1.05);
}
}


.info3 {
    position: absolute;

    left: 15px;
    right: 15px;
    bottom: 65px;

    z-index: 3;
}

.info3 div {
    display: flex;
    align-items: center;

    gap: 8px;

    margin-bottom: 12px;

    font-size: 10px;
}

.info3 span {
    color: #FFFFFF;

    font-weight: bold;
}

.info3 b {
    padding: 5px 8px;
    color: #FFFFFF;
    border: 1px solid currentColor;
    
    font-size: 10px;
}

.info3 p {
    color: #FFFFFF;
}


.butão-bunny {
    position: absolute;

    bottom: 12px;
    left: 12px;
    right: 12px;

    height: 38px;

    background: transparent;

    border: 1px solid ;

    color: #FFCCD2;

    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;

    cursor: pointer;

    z-index: 3;

    transition: 0.3s ease;
}

.butão-bunny:hover {
    background: #7D1628;

    color: #090B13;

    box-shadow:
    
     0 0 15px rgba(229, 43, 63, 0.45);

    transform: translateY(-2px);
}



/* =========================================
   MONTE SEU TIME
========================================= */

.Monte-Time {
    min-height: 100vh;
    padding: 120px 6%;
    background:
        radial-gradient(
            circle at center,
            rgba(0, 107, 255, 0.08),
            transparent 45%
        ),
        #07090f;

    color: white;
    background-image: url(fundo\ New\ gens.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.titulo-time {
    margin-bottom: 60px;
    transform: skewX(-5deg);
}

.titulo-time span {
    display: block;

    font-family: "Bebas Neue", sans-serif;
    font-size: 38px;

    letter-spacing: 8px;

    color: #ffffff;
}

.titulo-time strong {
    display: block;

    font-family: "Bebas Neue", sans-serif;
    font-size: 105px;

    line-height: .8;

    color: #006BFF;

    letter-spacing: 4px;

    text-shadow:
        0 0 10px rgba(0, 107, 255, .8),
        0 0 30px rgba(0, 107, 255, .45);
}

.titulo-time p {
    margin-top: 25px;

    font-family: "Rajdhani", sans-serif;

    font-size: 15px;

    letter-spacing: 2px;

    color: #718096;
}

.team-builder {
    display: grid;

    grid-template-columns:
        280px
        minmax(500px, 1fr)
        280px;

    gap: 25px;

    max-width: 1400px;

    margin: auto;
}

.lista-jogadores,
.info-time {

    background: rgba(10, 15, 24, .95);

    border: 1px solid #1b2a3d;

    border-radius: 15px;

    padding: 25px;

    box-shadow:
        0 10px 40px rgba(0,0,0,.35);
}

.lista-header span,
.mini-titulo {

    font-family: "Rajdhani", sans-serif;

    font-size: 12px;

    letter-spacing: 3px;

    color: #006BFF;
}

.lista-header h2,
.info-time h2 {

    font-family: "Bebas Neue", sans-serif;

    font-size: 32px;

    margin: 5px 0 25px;

    letter-spacing: 2px;
}

.player-option {

    width: 100%;

    display: flex;

    align-items: center;

    gap: 12px;

    padding: 12px;

    margin-bottom: 10px;

    background: #0f1722;

    border: 1px solid #1c2b3d;

    border-radius: 10px;

    color: white;

    cursor: pointer;

    transition: .25s ease;
}

.player-option:hover {

    transform: translateX(5px);

    border-color: #006BFF;

    background: #111d2c;

    box-shadow:
        0 0 15px rgba(0,107,255,.25);
}

.player-icon {

    width: 42px;
    height: 42px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 8px;

    background: #06101e;

    border: 1px solid #006BFF;

    font-family: "Orbitron", sans-serif;

    font-size: 12px;

    color: #006BFF;
}

.player-icon.rosa {

    color: #FF4FA3;

    border-color: #FF4FA3;

    box-shadow:
        0 0 10px rgba(255,79,163,.25);
}


.player-icon.roxo {

    color: #A855F7;

    border-color: #A855F7;
}


.player-icon.amarelo {

    color: #FFD166;

    border-color: #FFD166;
}


.player-icon.vermelho {

    color: #FF3D4D;

    border-color: #FF3D4D;
}

.campo-container {

    display: flex;

    justify-content: center;
    align-items: center;
}

.campo {

    position: relative;

    width: 100%;

    max-width: 650px;

    aspect-ratio: 1 / .8;

    background:

        linear-gradient(
            90deg,
            rgba(255,255,255,.025) 1px,
            transparent 1px
        ),

        linear-gradient(
            #0a3829,
            #0b412e
        );

    border: 2px solid rgba(255,255,255,.25);

    border-radius: 15px;

    overflow: hidden;

    box-shadow:
        0 0 50px rgba(0,107,255,.12);
}

.linha-meio {

    position: absolute;

    width: 2px;

    height: 100%;

    background: rgba(255,255,255,.25);

    left: 50%;

    top: 0;
}

.circulo-meio {

    position: absolute;

    width: 130px;
    height: 130px;

    border: 2px solid rgba(255,255,255,.25);

    border-radius: 50%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.posicao {

    position: absolute;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 6px;

    font-family: "Rajdhani", sans-serif;

    font-size: 11px;

    color: white;
}

.jogador-bola {

    width: 58px;
    height: 58px;
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: #07101a;

    border: 3px solid #006BFF;

    color: white;

    font-family: "Orbitron", sans-serif;

    font-size: 9px;

    box-shadow:
        0 0 15px rgba(0,107,255,.5);

    transition: .25s ease;
}

.jogador-bola img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
    position: absolute;
    object-position: top;
}

.jogador-bola:hover {

    transform: scale(1.15);

    box-shadow:
        0 0 10px #006BFF,
        0 0 30px rgba(0,107,255,.6);
}

.jogador-1 {
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.jogador-2 {
    top: 25%;
    left: 22%;
}

.jogador-3 {
    top: 25%;
    right: 22%;
}

.jogador-4 {
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
}

.jogador-5 {
    top: 48%;
    left: 27%;
}

.jogador-6 {
    top: 48%;
    right: 27%;
}

.jogador-7 {
    top: 65%;
    left: 15%;
}

.jogador-8 {
    top: 70%;
    left: 38%;
}

.jogador-9 {
    top: 70%;
    right: 38%;
}

.jogador-10 {
    top: 65%;
    right: 15%;
}

.jogador-11 {
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}

.info-time h2 {

    font-family: "Bebas Neue", sans-serif;

    color: white;
}

.formacao,
.capitao,
.rating {

    padding: 15px 0;

    border-bottom: 1px solid #1c2938;
}

.formacao span,
.capitao span,
.rating span {

    display: block;

    font-family: "Rajdhani", sans-serif;

    font-size: 11px;

    letter-spacing: 2px;

    color: #68778a;
}

.formacao strong {

    display: block;

    margin-top: 5px;

    font-family: "Orbitron", sans-serif;

    font-size: 28px;

    color: #006BFF;
}

.rating strong {

    display: block;

    font-family: "Bebas Neue", sans-serif;

    font-size: 70px;

    line-height: .9;

    color: #00A8FF;

    text-shadow:
        0 0 15px rgba(0,168,255,.5);
}

.rating small {

    color: #718096;

    letter-spacing: 3px;
}

.atributo {

    position: relative;

    margin-top: 18px;
}

.atributo span {

    font-family: "Rajdhani", sans-serif;

    font-size: 11px;

    color: #8a98aa;
}

.atributo strong {

    float: right;

    font-family: "Orbitron", sans-serif;

    font-size: 11px;
}

.atributo > div {

    width: 100%;

    height: 5px;

    margin-top: 7px;

    background: #172231;

    border-radius: 10px;

    overflow: hidden;
}

.atributo i {

    display: block;

    height: 100%;

    background: #006BFF;

    box-shadow:
        0 0 10px rgba(0,107,255,.7);

    border-radius: 10px;
}

.salvar-time {

    width: 100%;

    margin-top: 30px;

    padding: 14px;

    border: none;

    border-radius: 8px;

    background: #006BFF;

    color: white;

    font-family: "Orbitron", sans-serif;

    font-size: 12px;

    letter-spacing: 1px;

    cursor: pointer;

    transition: .25s ease;
}

.salvar-time:hover {

    background: #008CFF;

    transform: translateY(-3px);

    box-shadow:
        0 0 20px rgba(0,107,255,.55);
}

@media (max-width: 1100px) {

    .team-builder {

        grid-template-columns:
            220px
            1fr
            220px;
    }

}

@media (max-width: 800px) {

    .team-builder {

        grid-template-columns: 1fr;

    }

    .campo-container {

        order: 1;
    }

    .lista-jogadores {

        order: 2;
    }

    .info-time {

        order: 3;
    }

    .titulo-time strong {

        font-size: 75px;
    }

}


/* ==========================================
   GACHA / DIAMANTES BRUTOS
========================================== */

.gacha {
    width: 100%;
    min-height: 100vh;
    padding: 120px 6%;
    box-sizing: border-box;

    background:
        radial-gradient(
            circle at 50% 30%,
            rgba(0, 107, 255, .12),
            transparent 45%
        ),
        #06080e;

    color: white;
    background-image: url(Gacha-fundo.png);
       background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 105vh;
    
}


/* TÍTULO */

.titulo-gacha {
    margin-bottom: 30px;
}

.titulo-gacha span {
    display: block;

    font-family: "Bebas Neue", sans-serif;
    font-size: 38px;

    letter-spacing: 8px;

    color: white;
}

.titulo-gacha h1 {
    margin: 0;

    font-family: "Bebas Neue", sans-serif;
    font-size: 105px;

    line-height: .8;

    color: #006BFF;

    text-shadow:
        0 0 10px rgba(0,107,255,.8),
        0 0 35px rgba(0,107,255,.4);
}

.titulo-gacha p {
    margin-top: 25px;

    color: #718096;

    font-family: "Rajdhani", sans-serif;

    letter-spacing: 2px;
}


/* CONTAINER PRINCIPAL */

.gacha-container {
    width: 100%;
    max-width: 1400px;

    margin: auto;

    display: grid;

    grid-template-columns:
        1.5fr
        .8fr
        .8fr;

    gap: 25px;

    align-items: stretch;
}


/* ==========================================
   RESULTADO
========================================== */

.resultado-gacha {
    position: relative;

    min-height: 520px;

    display: flex;

    align-items: center;
    justify-content: center;

    padding: 35px;

    box-sizing: border-box;

    background: rgba(10,16,26,.95);

    border: 1px solid #213149;

    border-radius: 18px;
}


/* CARD */

.card-gacha {
    position: relative;

    width: 330px;
    height: 470px;

    overflow: hidden;

    border-radius: 18px;

    background:
        linear-gradient(
            145deg,
            #071426,
            #02070d
        );

    border: 2px solid #006BFF;

    box-shadow:
        0 0 15px rgba(0,107,255,.7),
        0 0 50px rgba(0,107,255,.3);
}


/* IMAGEM */

.card-gacha img {
    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    object-position: center;

    z-index: 1;
}


/* GRADIENTE */

.card-gacha::after {
    content: "";

    position: absolute;

    inset: 0;

    z-index: 2;

    background:
        linear-gradient(
            transparent 25%,
            rgba(0,0,0,.15) 45%,
            rgba(0,0,0,.95) 100%
        );
}


/* INFORMAÇÕES DO CARD */

.info-card {
    position: absolute;

    left: 25px;
    right: 25px;
    bottom: 25px;

    z-index: 3;
}

.info-card span {
    font-size: 12px;

    color: #006BFF;

    letter-spacing: 3px;
}

.info-card h2 {
    margin: 8px 0;

    font-family: "Bebas Neue", sans-serif;

    font-size: 42px;

    line-height: .9;

    color: white;
}

.info-card p {
    color: #9aa7b8;

    font-family: "Rajdhani", sans-serif;
}


/* RARIDADE */

.raridade-card {
    position: absolute;

    top: 25px;
    left: 35px;

    padding: 8px 15px;

    background: #006BFF;

    border-radius: 6px;

    font-family: "Rajdhani", sans-serif;

    font-size: 12px;

    letter-spacing: 2px;

    z-index: 5;
}


/* ==========================================
   SUMMON
========================================== */

.controle-gacha,
.raridades {

    padding: 35px;

    background: rgba(10,16,26,.95);

    border: 1px solid #213149;

    border-radius: 18px;

    box-sizing: border-box;
}


.controle-gacha > span {
    color: #006BFF;

    font-size: 11px;

    letter-spacing: 3px;
}


.controle-gacha h2 {
    margin: 8px 0 35px;

    font-family: "Bebas Neue", sans-serif;

    font-size: 40px;
}


/* DIAMANTES */

.diamantes {
    padding: 20px 0;

    border-top: 1px solid #213149;
    border-bottom: 1px solid #213149;
}

.diamantes span {
    display: block;

    font-size: 11px;

    color: #718096;

    letter-spacing: 2px;
}

.diamantes strong {
    display: block;

    margin-top: 8px;

    font-size: 28px;

    color: #59c8ff;
}


/* BOTÕES */

.botao-roleta {

    width: 100%;

    margin-top: 25px;

    padding: 17px;

    border: none;

    border-radius: 8px;

    background: #006BFF;

    color: white;

    font-family: "Orbitron", sans-serif;

    cursor: pointer;

    transition: .3s;
}


.botao-roleta:hover {

    transform: translateY(-3px);

    box-shadow:
        0 0 20px rgba(0,107,255,.7);
}


.botao-roleta.dez {

    margin-top: 12px;

    background: #101b29;

    border: 1px solid #006BFF;
}


.botao-roleta small {

    display: block;

    margin-top: 5px;

    opacity: .7;
}


/* ==========================================
   RARIDADES
========================================== */

.raridades h2 {

    margin-top: 0;

    margin-bottom: 25px;

    font-family: "Bebas Neue", sans-serif;

    font-size: 30px;
}


.raridade {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 15px;

    margin-bottom: 10px;

    background: #101a27;

    border: 1px solid;

    border-radius: 8px;

    font-size: 12px;
}


.raridade.comum {
    color: #8a96a6;
    border-color: #8a96a6;
}


.raridade.raro {
    color: #3ea7ff;
    border-color: #3ea7ff;
}


.raridade.epico {
    color: #a855f7;
    border-color: #a855f7;
}


.raridade.newgen {
    color: #ff4fa3;

    border-color: #ff4fa3;

    box-shadow:
        0 0 15px rgba(255,79,163,.5);
}

.resultado-final {

    animation: revelarPersonagem 0.8s ease;

}

@keyframes revelarPersonagem {

    0% {
        transform: scale(0.7);
        opacity: 0;
        filter: brightness(3);
    }

    50% {
        transform: scale(1.08);
        opacity: 1;
        filter: brightness(1.8);
    }

    100% {
        transform: scale(1);
        opacity: 1;
        filter: brightness(1);
    }

}

