body{
background-color: #0B0F19;
}

.Logo{
width: 200px;
height: 80px;
}

.Inicial{
display: flex;
align-items: center;
background-color: #0B0F19;


}

.FDP{
   display: flex;
    justify-content: center;
    gap: 35px;
    flex: 1;
    
}

.A{
text-decoration: none;
color: #007BFF;
font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;


}

.A:hover{
color: #00CFFF;
font-size: 25px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
transform: translateY(-6px);

}

.fundo{
background-image: url(https://images6.alphacoders.com/131/1319754.jpeg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 85vh;
position: relative;
}

.TITULO{
width: 500px;
position: absolute;
top: 50%;
left: 7%;
}

.SUBTITULO{
position: absolute;
top: 60%;
left: 12%;
font-size: 30px;
color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke: 1px #0A1F44;
}



.botao{
display: inline-block;
padding: 15px 35px;
background-color: #007BFF;
color: white;
text-decoration: none;
font-size: 20px;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
border-radius: 10px;
transition: 0.3s;
position: absolute;
top: 70%;
left: 14%;
}

.botao:hover{
background-color: #0056b3;
transform: scale(1.05);
box-shadow: 
0 10px 25px rgba(0, 0, 0, 25),
0 0 20px rgba(140, 120, 255, .6);
}


.Projeto{
background-image: url(Fundo\ Blue\ Lock.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 95vh;
position: relative;
}

.Rokku{
 font-size: 20px;
 color: #006BFF;
 position: absolute;
left: 5%;
bottom: 87%;
  line-height: .9;
  letter-spacing: 3px;
  transform: rotate(-2deg);
}

.TITULO2{
 font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 95px;
  color: #FFFFFF;
  position: absolute;
  line-height: .9;
  letter-spacing: 3px;
  transform: rotate(-2deg);
  left: 5%;
  bottom: 60%;
}

.b1{
font-size: 115px;
color: #006BFF;
text-shadow:
0 0 100px #006BFF,
0 0 20px #006BFF;
}

.explicação{
color: #FFFFFF;
font-family: "Poppins", sans-serif;
font-weight: 100;
font-style: normal;
font-size: 18px;
position: absolute;
  bottom: 52%;
    left: 3%;
}

.conhecer{
background-color: #0B0F19;
color: #FFFFFF;
text-decoration: none;
border: solid 1px #1977FF;
border-radius: 8px;
padding: 16px 40px;
 font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute;
    bottom: 45%;
    left: 14%;
}

.conhecer:hover{
background-color: #1977FF;
}

.Destaque{
position: absolute;
bottom: 28%;
left: 38%;
color: #FFFFFF;
font-size: 27px;
 font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing:3px;
}

.b2{
color: #006BFF;
}

.cards{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    min-height: 155vh;
}

.card{
    width: 200px;
    height: 180px;

    background: #0B1120;
    border: 2px solid #0E4BFF;
    border-radius: 15px;

    padding: 15px;
    text-align: center;

    transition: .3s;
    box-shadow: 0 0 15px rgba(0,110,255,.15);
    

    
}

.card:hover{
    transform: translateY(-6px);
    border-color: #2D8CFF;
    box-shadow: 0 0 20px rgba(0,110,255,.45);
}

.card img{
    width: 40px;
    margin-bottom: 8px;
     background-color: #006BFF;
    font-size: 38px;
    text-shadow: 0 0 30px #006BFF;
    border-radius: 10px;
}

.card img:hover{
background-color: #3A8DFF;
}

.card h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 38px;
    color: #006BFF;
    margin: 0;
}

.card h3{
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    color: white;
    letter-spacing: 1px;
    margin: 5px 0;
}

.card p{
    margin-top: 8px;
    font-family: "Poppins", sans-serif;
    color: #D8D8D8;
    font-size: 13px;
    line-height: 1.4;
}